<div class='container' ng-controller='movies_controller'>

	<div class='popular_movies' ng-show='popular_movies'>
		<h1>Popular Movies</h1>
		<div class='col-md-2 col-sm-3 col-xs-6 movie_results' ng-repeat='movie in popular_movies'>
			<a ng-href='#/movie/{{movie.id}}' ng-click='find_movie(movie)'>
				<div class='poster'>
					<img ng-src='https://image.tmdb.org/t/p/w92{{movie.poster_path}}' alt='no image found'>
				</div>
				<p>{{movie.original_title | limitTo:15}}{{movie.original_title.length>20? '...':''}}</p>
			</a>
		</div>
	</div>

</div>